#footer{
  margin-top: 2%;
  width: 100%;
}

.page-footer {
  margin-top: 4%;
  background-image: linear-gradient(to right, #24a314, #aa780c, #18680e);
  color: white;
  padding: 5px 0;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col-md-4 {
  width: 30%;
}